body {
    color: #696060;
    background-color: floralwhite;

    font-family: avenir;
}

.red-span {
    color: darkred;
}

.centered {
    padding: 5px 5px 5px 5px;

    margin: 10px auto 10px auto;
    width: 80%;
}

header nav a {
    color: darkseagreen;
    font-size: 16pt;
}

a:visited {
    color: darkolivegreen;
}

main p a {
    color: darkseagreen;
}
ul, ol {font-size: 14pt}