body {
    color: #696060;
    background-color: floralwhite;

    font-family: avenir;
}

.red-span {
    color: darkred;
}

.centered {
    /*    padding: 5px 5px 5px 5px;*/

    margin: 10px auto 10px auto;
    width: 80%;
}

header nav a {
    color: darkseagreen;
    font-size: 16pt;
}

a:visited {
    color: darkolivegreen;
}

ul {
    padding-left: 0;
}

header nav {
display: flex;

}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav li {
    list-style-type: none;
    padding: 1em;
}


main p a {
    color: darkseagreen;
}

ul,
ol {
    font-size: 14pt
}

@media screen and (max-width: 30rem) {

    header,
    main,
    footer {
        flex-direction: column;
    }
}
